    <footer class="site-footer">

      <div class="infoes clearfix wrap">


        <div class="foot-banners">
          <ul>
            <li><a href="http://l-shinjuku.com/" target="_blank"><img src="<%= config.directory_pos %>static/images/common/footer-banner08.jpg" alt="ルジェンテ新宿御苑前「新宿御苑前」駅 徒歩7分。東急リバブルの新築分譲マンション「L'GENTE（ルジェンテ）」シリーズ。" width="500" height="68"></a></li>
            <li><a href="http://l-kiba.com/" target="_blank"><img src="<%= config.directory_pos %>static/images/common/footer-banner06.jpg" alt="ルジェンテ木場 東京メトロ東西線「木場」駅徒歩3分 大手町直通7分 全戸南向き 内廊下" width="500" height="68"></a></li>
            <li><a href="http://l-ebisu.com/" target="_blank"><img src="<%= config.directory_pos %>static/images/common/footer-banner07.jpg" alt="ルジェンテ恵比寿 東京メトロ日比谷線「恵比寿」駅徒歩4分 JR埼京線「渋谷」駅直通1分 1LDK・2LDK南東・南西向き中心" width="500" height="68"></a></li>
          </ul>
        </div>

        <div class="contact">
          <div class="request-button"><a href="<%= site_config.request_link %>" target="_blank"><span class="serif">資料請求</span></a></div>
          <div class="reserve-button"><a href="<%= site_config.reserve_link %>" target="_blank"><span class="serif">来場予約</span></a></div>
          <div class="online-button"><a href="<%= site_config.online_link %>" target="_blank"><span class="serif">オンライン案内</span></a></div>
          <div class="detail">
            <p class="title serif"><span>Contact</span></p>
            <p class="office-name">「ルジェンテ文京湯島」販売準備室</p>
            <p class="phone-number serif"><a class="tel" href="<%= site_config.tel_link %>"><%= site_config.tel_number %></a></p>
            <ul class="business-hour">
              <li class="hour">営業時間：10:00〜18:00</li>
              <li class="closed">定休日：水・木・第3火曜日（祝日除く）</li>
            </ul>
          </div>
        </div><!-- contact -->

      </div><!-- infoes -->

      <div class="footer-navigation">
        <ul class="clearfix wrap">
          <li class="top"><a href="<%= config.directory_pos %>"><span class="ja">トップ</span><span class="en cormorant">TOP</span></a></li>
          <li class="position"><a href="<%= config.directory_pos %>position/"><span class="ja">ポジション</span><span class="en cormorant">POSITION</span></a></li>
          <li class="location"><a href="<%= config.directory_pos %>location/"><span class="ja">ロケーション </span><span class="en cormorant">LOCATION</span></a></li>
          <li class="access"><a href="<%= config.directory_pos %>access/"><span class="ja">アクセス</span><span class="en cormorant">ACCESS</span></a></li>
          <li class="design"><a href="<%= config.directory_pos %>design/"><span class="ja">デザイン</span><span class="en cormorant">DESIGN</span></a></li>
          <li class="plan"><a href="<%= config.directory_pos %>plan/"><span class="ja">間取り</span><span class="en cormorant">PLAN</span></a></li>
          <li class="modelroom"><a href="<%= config.directory_pos %>modelroom/"><span class="ja">モデルルーム</span><span class="en cormorant">MODEL ROOM</span></a></li>
          <li class="quality"><a href="<%= config.directory_pos %>quality/"><span class="ja">設備仕様</span><span class="en cormorant">QUALITY</span></a></li>
          <li class="asset"><a href="<%= config.directory_pos %>asset/"><span class="ja">資産性</span><span class="en cormorant">ASSET VALUE</span></a></li>
          <!--<li class="merit"><a href="<%= config.directory_pos %>merit/"><span class="ja">完成後販売</span><span class="en cormorant">MERIT</span></a></li>-->
          <li class="outline"><a href="<%= site_config.outline_link %>" target="_blank"><span class="ja">物件概要</span><span class="en cormorant">OUTLINE</span></a></li>
          <li class="map"><a href="<%= config.directory_pos %>map/"><span class="ja">現地案内図</span><span class="en cormorant">MAP</span></a></li>
        </ul>
      </div> <!-- End.footNavi -->

      <ul class="company-links wrap clearfix">
        <li><a href="http://www.livable.co.jp/?_ga=2.243300421.197725784.1550082248-871193118.1550082248" target="_blank"><img src="<%= config.directory_pos %>static/images/common/footer-logo-livable.png" alt="売主　東急リバブル"></a></li>
        <li><a href="http://www.livable.co.jp/kounyu/lgente/?_ga=2.243300421.197725784.1550082248-871193118.1550082248" target="_blank"><img src="<%= config.directory_pos %>static/images/common/footer-logo-lgente.png" alt="東急リバブルの自社開発・分譲マンション L'GENTE"></a></li>
      </ul><!-- / company-links -->


      <small class="copyright wrap">Copylight &copy; TOKYU LIVABLE,INC.All Rights Reserved.</small>
    </footer><!-- / site-footer -->


  </div><!-- / all-wrap -->

<!-- 解析タグここから -->

<!-- WebAntenna -->
<script type="text/javascript" src="//tr.webantenna.info/js/webantenna.js"></script>
<script type="text/javascript">
if ( typeof( webantenna ) == 'function' ) {
 _wa.account = 'WALAYa-1';
 webantenna();
}
</script>
<noscript>
<img width="1" height="1" alt="" src="//tr.webantenna.info/_webantenna.png?ga=WALAYa-1&amp;jse=0">
</noscript>
<!-- end WebAntenna -->


<script type="text/javascript">(function(){var tagjs=document.createElement("script");var s=document.getElementsByTagName("script")[0];tagjs.async=true;tagjs.src="//s.yjtag.jp/tag.js#site=QL7mquy,bdOUpx1";s.parentNode.insertBefore(tagjs,s);}());</script>
<noscript>
  <iframe src="//b.yjtag.jp/iframe?c=QL7mquy,bdOUpx1" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>



<!-- 解析タグここまで -->
